<div class="container">

  <h2 class="mb-4 text center">Join the Club</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
      <br>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :birthdate, label: "Date of Birth", as: :date, start_year: Date.today.year - 40,
                              end_year: Date.today.year - 12,
                              order: [:day, :month, :year] %>
      <%= f.input :city %>
      <%= f.input :country, as: :country %>
      <%= f.input :industry, collection: [ "Accounting & Tax", "Aerospace", "Agriculture & Food", "Architecture", "Art & Design", "Chemicals & Industrials", "Consumer Products", "Cybersecurity", "E-commerce", "Education", "Electronics", "Energy & Sustainability", "Entertainment", "Financial Services", "Government & Public Sector", "Healthcare", "Internet & Telco", "Logistics", "Management Consulting", "Manufacturing", "Media & Journalism", "Nonprofit", "Real estate", "Supply Chain", "Technology", "Travel & Hospitality", "Venture Capital & Private Equity", "Other" ], class: "select2" %>
      <%= f.input :linkedin, label: "LinkedIn" %>
      <%= f.input :oneliner, label: "In a line, what's your story? What do you do?", hint: "This is the one-liner all members will see when they browse through our community. While QFC isn't an strictly professional network, it pays to sound credible!", :as => :text, :input_html => { 'rows' => 2}  %>
      <%= f.input :funfact, label: "Share a fun fact about yourself.", :as => :text, :input_html => { 'rows' => 2}  %>

      <%= f.input :photo, label: "Profile picture", as: :file %>

      <%= f.input :referrer, label: "Who invited you to the collective?", hint: "Please write his or her full name as written in the email you received." %>
    </div>

    <div class="form-actions center">
      <%= f.button :submit, "Sign up", class: "btn btn-primary btn-block my-4" %>
    </div>
  <% end %>

  <div class="center">
    <%= render "devise/shared/links" %>
  </div>

</div>
