<div class="container">
<h2 class="mb-4 text-center">&#128079; Favor submitted! &#128079;</h2>

<p class="center">Here's what everyone gets to see:</p>

  <div class="favor-container mb-3">
    <%= link_to user_path(@favor.user), :action => 'go' do %>
    <div class="d-flex align-items-center favor-profile mb-3">
      <% if @favor.user.photo.attached? %>
      <%= cl_image_tag @favor.user.photo.key, height: 45, width: 45, crop: :fill, format: :png, class: "avatar-small" %>
      <% else %>
      <img src="https://res.cloudinary.com/dy9chfa8l/image/upload/v1593341330/profile-avatar_3x_pxypn2.png" class="avatar-small" alt="profile-image">
      <% end %>
      <div class="align-middle ml-1">
        <p class="text-left my-0 ml-2"><strong><%= @favor.user.full_name %></strong></p>
        <div class="d-flex my-0">
          <p class="city-industry-tag my-1"><%= @favor.user.city %></p>
          <p class="city-industry-tag ml-0 my-1"><%= @favor.user.industry %></p>
        </div>
      </div>
    </div>
    <% end %>

    <p><strong>Favor:</strong> <%= @favor.favor %></p>
    <p><strong>Significance:</strong> <%= @favor.significance %></p>
    <% if @favor.link.present? %>
      <p>
        <strong>Link:</strong>
        <a id="link" href=<%= @favor.link %>><%= @favor.link.first(34) %>...</a></p>
    <% end %>
    <br>
    <p class="text-center"><strong>More about <%= link_to @favor.user.first_name, user_path(@favor.user) %>:</strong></p>
    <p><strong>Contact:</strong> <%= @favor.user.email %></p>
    <p><strong>One-liner:</strong> <%= @favor.introduction %></p>
    <p><strong>Fun fact:</strong> <%= @favor.user.funfact %></p>
  </div>


<%= link_to "< see all favors", favors_path, class: "center mt-4" %>
</div>
