<div class="navbar navbar-light navbar-QFC my-3">
  <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <% if current_user.status == "verified" %>
          <li class="nav-item">
            <%= link_to about_path, class: "text-right mr-3 nav-link-button" do %>
              <i class="fas fa-home"></i> &nbsp; Home
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_favor_path(current_user), class: "text-right mr-3 nav-link-button" do %>
              <i class="fas fa-hands-helping"></i> &nbsp; Request a Favor
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to users_path, class: "text-right mr-3 nav-link-button"  do %>
              <i class="fas fa-users"></i> &nbsp; Meet the Community
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_referral_path(current_user), class: "text-right mr-3 nav-link-button"  do %>
              <i class="fas fa-user-friends"></i> &nbsp; Invite a Friend
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to user_path(current_user), class: "text-right mr-3 nav-link-button"  do %>
              <i class="fas fa-user"></i> &nbsp; View Profile
            <% end %>
          </li>
          <% if current_user.admin == false %>
            <li class="nav-item">
              <%= link_to contact_path, class: "text-right mr-3 nav-link-button" do %>
                <i class="fas fa-comments"></i> &nbsp; Contact Us
              <% end %>
            </li>
            <% if false %>
              <li class="nav-item">
                <%= link_to contact_path, class: "text-right mr-3 nav-link-button" do %>
                  <i class="fas fa-comments"></i> &nbsp; About Us
                <% end %>
              </li>
            <% end %>
          <% else %>
            <li class="nav-item">
              <%= link_to admin_path, class: "text-right mr-3 nav-link-button" do %>
                <i class="fas fa-shield-alt"></i> &nbsp; Admin
              <% end %>
            </li>
          <% end %>
        <% else %>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete, class: "text-right mr-3 nav-link-button" do %>
              <i class="fas fa-home"></i> &nbsp; Home
            <% end %>
          </li>
        <% end %>
      <% else %>
        <li class="nav-item">
          <%= link_to root_path(anchor: 'learn-more'), class: "text-right mr-3 nav-link-button" do %>
            <i class="fas fa-home"></i> &nbsp; About Us
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to root_path(anchor: 'contact'), class: "text-right mr-3 nav-link-button" do %>
            <i class="fas fa-comments"></i> &nbsp; Contact
          <% end %>
        </li>
        <li class="nav-item">
            <%= link_to new_user_session_path, class: "text-right mr-3 nav-link-button" do %>
              <i class="fas fa-sign-in-alt"></i> &nbsp; Sign In
            <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
