<div class="navbar navbar-light navbar-QFC my-3">
  <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <% if current_user.status == "verified" %>
          <li class="nav-item">
            <%= link_to about_path, class: "text-right mr-4 nav-link-button" do %>
              <i class="fas fa-home"></i> &nbsp; About
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to favors_path, class: "text-right mr-4 nav-link-button" do %>
              <i class="fas fa-hands-helping"></i> &nbsp; Favors
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to users_path, class: "text-right mr-4 nav-link-button"  do %>
              <i class="fas fa-users"></i> &nbsp; Community
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to user_path(current_user), class: "text-right mr-4 nav-link-button"  do %>
              <i class="fas fa-user"></i> &nbsp; Profile
            <% end %>
          </li>
          <% if current_user.admin == false %>
            <li class="nav-item">
              <%= link_to contact_path, class: "text-right mr-4 nav-link-button" do %>
                <i class="fas fa-comments"></i> &nbsp; Contact
              <% end %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to inquiries_path, class: "text-right mr-4 nav-link-button" do %>
                <i class="fas fa-comments"></i> &nbsp; Inquiries
              <% end %>
            </li>
          <% end %>

          <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete, class: "text-right mr-4 nav-link-button" do %>
              <i class="fas fa-sign-out-alt"></i> &nbsp; Log Out
            <% end %>
          </li>
        <% else %>
            <%= link_to destroy_user_session_path, method: :delete, class: "text-right mr-4 nav-link-button" do %>
              <i class="fas fa-home"></i> &nbsp; About
            <% end %>
        <% end %>
      <% else %>
        <li class="nav-item">
          <%= link_to about_path, class: "text-right mr-4 nav-link-button" do %>
            <i class="fas fa-home"></i> &nbsp; About
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to contact_path, class: "text-right mr-4 nav-link-button" do %>
            <i class="fas fa-comments"></i> &nbsp; Contact
          <% end %>
        </li>
        <li class="nav-item">
            <%= link_to new_user_session_path, class: "text-right mr-4 nav-link-button" do %>
              <i class="fas fa-sign-in-alt"></i> &nbsp; Login
            <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
