<p style='text-align: center; margin: 20px;'>Hey <%= @request.user.first_name %>!</p>

<p style='margin: 20px;'><%= @request.requesting_user.full_name %> wants to grab a coffee with you! &#128588;</p>
<p style='margin: 20px;'><strong>A little about <%= @request.requesting_user.first_name %>:</strong> <%= @request.intro %></p>
<p style='margin: 20px;'><strong>Reason for reaching out:</strong> <%= @request.purpose %></p>
<p style='margin: 20px;'><%= @request.requesting_user.first_name %> can be reached at <%= @request.requesting_user.email %> - hope you're able to connect!</p>

<p style='text-align: center; margin: 20px;'>Cheers,</p>

<p style='text-align: center; margin: 0px;'>The Quick Favor Team</p>
<p style='text-align: center; margin: 0px;'><%= link_to "www.quickfavor.club", "https://www.quickfavor.club" %></p>
