<div class="profile-container">
  <div class="profile-avatar">
    <% if @user.photo.attached? %>
    <%= cl_image_tag @user.photo.key, height: 100, width: 100, crop: :fill, format: :png, class: "avatar" %>
    <% else %>
    <img src="https://res.cloudinary.com/dy9chfa8l/image/upload/v1593341330/profile-avatar_3x_pxypn2.png" class="avatar" alt="profile-image">
    <% end %>
  </div>

  <div class="container">
    <div class="profile-text-container">
      <h2 class="mt-3 text-center"><%= @user.full_name %></h2>

      <p class="text-center my-3"><i class="fas fa-home"></i> &nbsp;<%= @user.city %>  &nbsp;| &nbsp; <i class="fas fa-briefcase"></i>&nbsp; <%= @user.industry%></p>

      <p class="my-3 text-center"><%= @user.oneliner %></p>

      <p class="text-center mb-4"><%= @user.funfact %> &#9757;</p>


      <% if current_user.admin == true %>
        <p class="mt-0 mb-0"><i class="fas fa-envelope"></i> &nbsp;<%= @user.email %></p>
      <% end %>

      <% if @user.website.present? %>
        <p class="mt-0 mb-0"><i class="fas fa-window-maximize"></i> &nbsp;<a href=<%= @user.website %> target="_blank"><%= @user.website %></a></p>
      <% end %>

      <% if @user.linkedin.present? %>
        <p class="mt-0 mb-0"><i class="fab fa-linkedin"></i> &nbsp;<a href=<%= @user.linkedin %> target="_blank">See profile</a></p>
      <% end %>

      <p class="mt-2 text-center"><i class="fas fa-history"></i> &nbsp;<a href=<%= user_favors_path(@user) %>>See <%= @user.first_name %>'s past favors</a></p>


      <% if current_user.admin == true %>
        <p class="mb-0"><strong>Status</strong>:
          <% if @user.status == "verified" %>
            Verified Member
          <% else %>
            Unverified Applicant <i class="fas fa-exclamation-circle"></i>
          <% end %>
        </p>
        <p><strong>Referred by</strong>: <%= @user.referrer %></p>

        <% if @user.status == "unverified" %>
          <div class="d-flex align-items-center mt-5">
          <p><strong>Action Required:</strong></p>
          <p class="flex-grow-1 text-right"><%= link_to "Verify", user_path(@user), class: "mr-1 btn", method: "patch", :data => { :confirm => "Are you sure you want to verify this member?", turbolinks: false }  %> <%= link_to "Reject", user_path(@user), class: "btn ml-1", method: "put", :data => { :confirm => "Are you sure you want to reject this member?", turbolinks: false }  %></p>
          </div>
        <% end %>
      <% end %>

      <%#= link_to "See Past Favors", user_favors_path(@user), class: "btn btn-secondary btn-block" %>

      <% if @user == current_user %>
        <%= link_to "Edit Profile", edit_user_registration_path(@user), class: "btn btn-primary btn-block mt-4 mb-3" %>
        <div class="center">
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        </div>
      <% end %>
      <% if @user != current_user %>
        <button type="button" class="btn btn-primary btn-block mt-4" data-toggle="modal" data-target="#requestModal" href="#">
          <i class="fas fa-coffee"></i> &nbsp;Let's grab a coffee!
        </button>
      <% end %>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Ask <%= @user.first_name %> for a coffee chat!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <%= simple_form_for [@requesting_user, @request], url: user_requests_path(@requested_user, @request) do |f| %>
            <%= f.input :intro, label: "Make a quick introduction for yourself", hint: "Feel free to take from your profile one-liner: #{current_user.oneliner}", :as => :text, :input_html => { 'rows' => 2 } %>
            <%= f.input :purpose, label: "What would you like to chat about?", :as => :text, :input_html => { 'rows' => 2 } %>
            <p class="text-center"><strong>Please fill all fields or your request will not be sent!</strong></p>
            <div class="center">
              <div class="d-flex">
                <%= f.button :submit, "Request a coffee chat!", class: "btn-modal-submit btn btn-primary btn-block mt-3 px-4" %>
              </div>
            </div>
            <% end %>
            <br>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
